<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a routerLink="/home">
            <img [src]="logo" alt="Logo" class="img">
        </a>
    </div>
    <div class="nav-bar liens">
        <a routerLink="/home">Tous les livres</a>
        <a routerLink="/best">Les plus écoutés</a>
        <a routerLink="new">Nouveautés</a>
    </div>
    <ng-container *ngIf="!isLoggedIn; else userConnected">
        <div class="nav-bar login">
            <a routerLink="/login">Se connecter</a>
        </div>
        <div class="nav-bar register">
            <a routerLink="/register">S'inscrire</a>
        </div>
    </ng-container>
    <ng-template #userConnected>
        <div class="nav-bar user-info">
            <span>Youhouuu 👋</span>
            <a (click)="logout()" class="logout-link">Se déconnecter</a>
        </div>
    </ng-template>
</nav>